.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  height: 100px;
}

.trybewarts-login {
  display: flex;
  height: 25%;
}

main {
  display: flex;
}

main form {
  display: flex;
  width: 675px;
}

#evaluation-form {
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name {
  width: 40%;
  height: 40px;
}

#input-lastname {
  width: 40%;
  height: 40px;
}

#input-email {
  width: 40%;
  height: 40px;
}

#house {
  width: 42%;
  height: 43px;
}